html{
  font-size: 14px;      /* 절대값 */
}
div { 
  font-size: 2em;       /**/
}
p{
  /* text-decoration: line-through; */
  /* text-decoration: underline; */
  /* text-decoration: overline; */
  text-decoration: line-through underline overline;
}
span{
  /* text-decoration: wavy underline tomato;물결 선언 : wavy */
  /* text-decoration: dotted underline overline blue 4px; 점선선언 dotted 4px는 폰트크기가 아닌 데코레이션의 크기 */
  text-decoration: dashed line-through deeppink 2px; /*파선 선언 : dashed*/
}