/* body{
  /* background-color: gray; 
}*/

/*div{
  /* background-color: purple;
  width: 100%; 
}*/
/*p{
  /* background-color: green;
  width: 100%; 
} */
.div1{
  /*마진 하나 지정사례*/
  /* padding: 0px;
  margin: 40px; */
  /*마진 두개 지정 사례*/
  /* margin: 10vh 2vw; 첫번째ㅔ 값 : 세로 두번째 값 : 가로 */
  /* padding: 0; */
  /* 마진값4개 지정 각 값은 위에서부터 시계방향 */
  /* margin: 12px 24px 48px 96px; */
  /* padding: 0; */
  /* 마진 값 3개 지정 첫번째 값 위쪽 영역, 두번째 값 : 좌우 영역 , 세번째 값 : 아래쪽 영역 */
  /* margin: 12px 24px 48px; */
  /* padding: 0; */
  /*padding 관련 수업*/
  
  /*값을 하나만 입력*/
  /* margin: 0; margin 설정 먼저 한 후 padding 설정 */
  /* padding: 16px; */
  /*padding 값 두개 입력*/
  /* margin: 0; */
  /* padding: 0 4em;첫 번째 값은 위아래 표기, 두번째 값은 좌우 표기 */
  /*padding 값을 네개 지정*/
  /* margin: 0;
  padding: 1em 2em 3em 4em; */
  /*padding 값 3개 지정*/
  /* margin: 0; */
  /* padding: 4em 2em 0;첫 번째는 위, 두번째는 좌우 세번째 아래 */
  margin: 24px;
  padding: 16px;
  background-color: blue;
}

.div2{  
    margin: 24px;
    background-color: red;
}